@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  @apply bg-bg
}

/* topnav */
.shadowNav {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


/* Navbar */

.text {
  @apply text-black75 text-[18px] font-medium transition hover:text-main
}


/* Input Component (Common) */
.label {
  @apply absolute -top-[10px] left-[12px] bg-white px-[4px] text-small text-black50
  transition-all
  peer-placeholder-shown:top-2.5
  peer-placeholder-shown:text-small
  peer-focus:-top-[10px] 
  peer-focus:bg-white
  peer-focus:text-smaller
  peer-focus:text-black50
}

/* button */
.anim-bg-gradient {
  background-size: 300% 100%;
  background-position: 50% 0;
  transition: background-position .5s;
}
.anim-bg-gradient:hover {
  background-position: 100% 0;
}

